body {
    margin: 0px;
    background-color: rgb(19, 15, 35);
}

/* Entête */

header {
    display: flex;
    align-content: center;
    width: 100%;
    background-color: rgba(19, 15, 35, 0.95);
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

header>div {
    width: 60%;
}

#begin>div>h1>a {
    font-family: Poppins, regular;
    color: rgb(236, 104, 28);
    border: solid white;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    border-width: 2px;
}

header>nav {
    width: 50%;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(236, 104, 28);
    font-family: Poppins;
    /* font-weight: bold; */
    border-radius: 30px;
}

#start {
    display: flex;
    margin-top: 80px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.stdev {
    width: 55%;
}

.stimg {
    width: 30%;
    /* height: 40%; */
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.stimg>div>p {
    font-family: Poppins, regular;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

.stimg1 {
    background-color: rgb(19, 15, 35);
    border-radius: 20px;
}

header nav ul {
    justify-content: space-evenly;
    display: flex;
    margin-top: 5.4;
    padding-left: 0px;
}

h1,
h1>a {
    color: white;
    text-decoration: none;
}

h1 {
    transition: 0.3s ease;
    padding-left: 85px;
}

#begin>div>h1>a:hover {
    color: white;
}

ul li {
    list-style: none;
    text-decoration: none;
}

#tb {
    /* margin-left: 20px; */
    color: white;
}


#tb>#start {
    margin-top: 79px;
    display: flex;
    align-items: center;
    margin-bottom: 0%;
}


/* Partie descriptive */

#desp {
    position: relative;
    padding: 10% 0%;
    margin: 0%;
    color: white;
    font-family: Lato;
}

.blanc {
    color: white;
    width: 100%;
    text-align: center;
    /* margin-top: 30px;
    margin-bottom: 80px; */
}


/* Formulaire et partie principale du code */

main {
    margin: auto;
    /* margin-top: 5%; */
}

form {
    color: white;
    text-align: center;

}

/* Pied de page */

footer,
footer>div>p>a {
    color: white;
    text-decoration: none;
    font-family: Lato;
}

footer {
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer>div>p {
    text-align: justify;
}

footer>div>span {
    font-weight: bolder;
}

/* Transition navbar */

a:hover {
    color: white;
    transition: 0.3s ease;
}



i {
    color: white;
}

ol {
    padding: 0px;
}

ol li {
    list-style: none;
}

/* Modification sur le nom première partie */

#name {
    position: relative;
    z-index: 1;
    font-size: 120px;
    font-weight: 700;
    font-family: Nevera;
    color: white;
    line-height: 110px;

}


#name2 {
    position: absolute;
    color: rgb(236, 104, 28);
    font-family: Haroopath;
    font-size: 35px;
    line-height: 80px;
    z-index: 2;
    top: 280px;
    /* left: 0px; */
}


#com {
    font-family: Harlow solid;
    font-size: 30px;
    color: white;
}

/* Bouton de la première partie */

#btn1 {
    border: solid rgb(236, 104, 28);
    border-width: 1px;
    background-color: rgb(236, 104, 28);
    text-decoration: none;
    color: rgb(19, 15, 35);
    /* font-weight: bolder; */
    font-family: Poppins, Bold;
    border-radius: 20px;
    padding: 8px;
}

#btn1:hover {
    transition: 0.3s ease;
    background-color: rgb(231, 231, 231);
    color: rgb(19, 15, 35);
}

.btn2 {
    border: solid rgb(236, 104, 28);
    text-decoration: none;
    color: rgb(236, 104, 28);
    /* font-weight: bolder; */
    font-family: Poppins, Bold;
    border-radius: 20px;
    margin-right: 5px;
    padding: 8px;
    border-width: 1px;
}

.btn2:hover {
    transition: 0.3s ease;
    background-color: rgba(236, 104, 28, 0.2);
}

/* Parcours scolaire */

.clair {
    background-color: white;
    padding: 40px;
}

.clair>h2 {
    text-align: center;
    color: rgb(19, 15, 35);
    font-family: Nevera;
    font-size: 40px;
}

.clair .left {
    background-color: rgb(19, 15, 35);
    border-radius: 20px;
    width: 50%;
}

.clair .left div p {
    padding-left: 15px;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 0;
}

.clair>.left>h3 {
    background-color: rgb(236, 104, 28);
    color: rgb(19, 15, 35);
    border-radius: 10px;
    width: auto;
    font-family: Poppins;
    font-size: 20px;
    width: 25%;
    text-align: center;
    margin: 0;
}


.clair>div>div>p {
    color: white;
    font-family: Poppins;
    font-size: 25px;
}


.oneright {
    display: flex;
}

.first {
    width: 50%;
}


.right {
    background-color: rgb(19, 15, 35);
    border-radius: 20px;
    width: 50%;
}

.right h3 {
    background-color: rgb(236, 104, 28);
    color: rgb(19, 15, 35);
    border-radius: 10px;
    width: auto;
    font-family: Poppins;
    font-size: 20px;
    width: 25%;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
}


.clair .oneright .right p {
    color: white;
    font-family: Poppins;
    font-size: 25px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 0;
}

.clair2 {
    background-color: rgb(234, 234, 234);
    padding: 40px;
}

.zone {
    width: 50%;
    padding: 10px;
    border: solid blueviolet;
    border-radius: 4px;
    background-color: rgba(138, 43, 226, 0.2);
    color: white;
    font-family: Lato;
    font-weight: bolder;
}

.zone::placeholder {
    color: white;
    opacity: 0.5;
    font-family: Lato;
    font-weight: bolder;
}

#zone2 {
    width: 52%;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: black;
    font-weight: bolder;
    font-family: Lato;
    background-color: rgb(138, 43, 226);
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#pj {
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

#pj>div {
    border: solid blueviolet;
    border-width: 1px;
    border-radius: 10px;
    padding: 30px;
}

#pj>div:hover {
    background-color: rgba(138, 43, 226, 0.2);
    transform: scale(1.05);
}

h4 {
    color: blueviolet;
    font-family: Lato;
}

h2 {
    font-family: lato;
    margin: 0px !important;
}

hr {
    border: none;
    height: 2px;
    background-color: blueviolet;
}

.sub {
    font-family: Lato;
    font-size: 12px;
    font-weight: bolder;
}

#dev {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}


.clair2>h2 {
    text-align: center;
    color: rgb(19, 15, 35);
    font-family: Nevera;
    font-size: 40px;
}

#dev>div {
    background-color: rgb(236, 104, 28);
    border-radius: 20px;
    padding: 50px 0px 0px 0px;
    text-align: center;
}

#dev>div:hover {
    /* background-color: rgb(19, 15, 35); */
    transition: 0.3s ease;
    transform: scale(1.05);
}

#dev>div>div>i {
    font-size: 70px;
    color: rgb(75, 28, 10);
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#dev>div>.nskill>p {
    font-family: Nevera;
    font-weight: bolder;
    color: rgb(75, 28, 10);
    font-size: 20px;
}

/* #dev>div>.dskill {
    padding: 100%;
} */

#dev>div>.dskill>p {
    background-color: rgb(219, 212, 235);
    font-family: Nevera;
    font-weight: bolder;
    color: rgb(42, 37, 89);
    font-size: 15px;
    margin: 0;
    border-radius: 20px;
    padding: 20px;
}


.niv {
    color: white;
    font-weight: 0px;
}

aside>ul {
    padding-left: 0px;
}

#hobby>ol {
    display: flex;
    justify-content: space-evenly;
}

#hobby>ol>li {
    border: solid blueviolet;
    border-width: 1.5px;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    font-family: Lato;
}

#hobby>ol>li:hover {
    background-color: rgba(138, 43, 226, 0.2);
    transform: scale(1.05);
}

#hobby>ol>li>i {
    font-size: 20px;
    margin-right: 2px;
}

#hobby>ol>li>i:hover {
    color: blueviolet;
}

aside>ul {
    display: flex;
    justify-content: space-evenly;
}

aside>ul>li {
    border: solid blueviolet;
    border-width: 1.5px;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    font-family: Lato;
}

aside>ul>li:hover {
    background-color: rgba(138, 43, 226, 0.2);
    transform: scale(1.05);
}

aside>ul>li>i {
    font-size: 20px;
    margin-right: 2px;
}

aside>ul>li>i:hover {
    color: blueviolet;
}

h3 {
    font-family: Lato;
}



.stimg>div>p>.nom {
    font-size: 20px;
    text-align: center !important;
    font-weight: bolder;
    color: rgb(19, 15, 35);
}